<!DOCTYPE html>
<!-- <div class="row">
  <div class="col-md-12">
    <h1>{{{__ "Refugee Weather Report"}}}</h1>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12">
    <input id="location-search" class="form-control" type="text" placeholder="{{{__ 'Search Location'}}}" />
  </div>
</div>
<br/>
{{#each locations}}
<div class="location-item row" data-title="{{this.name}}">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h2 class="location-title">{{this.name}}</h2>
            <img class="img-responsive flag img-circle" src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.7.0/flags/1x1/{{toLower this.countryCode}}.svg" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <table>
              <tr>
                <th class="col-md-6 time-header" colspan="2">
                  Day
                </th>
              </tr>
              <tr>
                <td class="col-md-3 meta">Temperature</td>
                <td class="col-md-3 data">{{this.minTempDay}}-{{this.maxTempDay}}째C</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Wind Force</td>
                <td class="col-md-3 data">Beaufort {{this.minWindForceDay}}-{{this.maxWindForceDay}}</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Wind Direction</td>
                <td class="col-md-3 data">{{this.windDirectionDay}}</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Max Wave Height</td>
                <td class="col-md-3 data">{{this.maxWaveHeightDay}}m</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Water Temperature</td>
                <td class="col-md-3 data">{{this.minWaterTemperatureDay}}-{{this.maxWaterTemperatureDay}}째C</td>
              </tr>
              <tr>
                <td class="col-md-3">
                  <img class="img-responsive icon" src="/images/{{this.waveIconDay}}"/>
                </td>
                <td class="col-md-3">
                  <img class="img-responsive icon icon img-circle" src="{{this.weatherIconDay}}"/>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-6">
            <table >
              <tr>
                <th class="col-md-6 time-header" colspan="2">
                  Night
                </th>
              </tr>
              <tr>
                <td class="col-md-3 meta">Temperature</td>
                <td class="col-md-3 data">{{this.minTempDay}}-{{this.maxTempDay}}째C</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Wind Force</td>
                <td class="col-md-3 data">Beaufort {{this.minWindForceNight}}-{{this.maxWindForceNight}}</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Wind Direction</td>
                <td class="col-md-3 data">{{this.windDirectionNight}}</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Max Wave Height</td>
                <td class="col-md-3 data">{{this.maxWaveHeightNight}}m</td>
              </tr>
              <tr>
                <td class="col-md-3 meta">Water Temperature</td>
                <td class="col-md-3 data">{{this.minWaterTemperatureNight}}-{{this.maxWaterTemperatureNight}}째C</td>
              </tr>
              <tr>
                <td class="col-md-3">
                  <img class="img-responsive icon" src="/images/{{this.waveIconNight}}"/>
                </td>
                <td class="col-md-3">
                  <img class="img-responsive icon img-circle" src="{{this.weatherIconNight}}"/>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="grey-text">
              Updated at {{this.updatedAt}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}

<div class="row">
  <div class="col-md-12">
    <p class="inline grey-text">{{{__ "Copyright"}}}</p> |
    <a class="inline" href="https://github.com/Danoishere/Refugee-Weather-Forecast">Check out the source!</a>
  </div>
</div>
